@using MvcCoreSession.Helpers
@using System.Text.Json
@model List<Mascota>
@{
    byte[] data = Context.Session.Get("MASCOTA");
    Mascota mascota = ViewData["MASCOTA"] as Mascota;
    Mascota mascotaGen = ViewData["MASCOTAGEN"] as Mascota;
    
    Mascota mascotaJson = null;
    string mascotaJsonString = Context.Session.GetString("MASCOTA_JSON");
    if (!string.IsNullOrEmpty(mascotaJsonString))
    {
        mascotaJson = JsonSerializer.Deserialize<Mascota>(mascotaJsonString);
    }

   
    if (data != null)
    {
        mascota = HelperBinarySession.ByteObjeto(data) as Mascota;
        ViewData["MASCOTA"] = mascota;
    }
}
<h1>Ejemplos Session</h1>
<h2 style="color:blue">nombre en SESION = @Context.Session.GetString("nombre")</h2>
<h2 style="color:red">hora en SESION = @Context.Session.GetString("hora")</h2>
<ul>
    <li><a asp-controller="EjemploSession" asp-action="SessionSimple">Session Simple</a></li>
    <li><a asp-controller="EjemploSession" asp-action="SessionMascota">Session Mascota</a></li>
    <li><a asp-controller="EjemploSession" asp-action="SessionMascotaCollection">Session Lista Mascota</a></li>
    <li><a asp-controller="EjemploSession" asp-action="SessionMascotaJson">Session Mascota Json</a></li>
    <li><a asp-controller="EjemploSession" asp-action="SessionMascotaGeneric">Session Mascota Generic</a></li>
    <li><a asp-controller="EjemploSession" asp-action="SessionMascotaCollectionGeneric">Session Mascota Generic</a></li>




</ul>

@if (mascota != null)
{
    <h4 style="color:rebeccapurple">@mascota.Nombre</h4>
    <h4 style="color:rebeccapurple">@mascota.Raza</h4>
    <h4 style="color:rebeccapurple">@mascota.Edad</h4>
}


@if (mascotaJson != null)
{

    <h4 style="color:rebeccapurple">@mascotaJson.Nombre</h4>
    <h4 style="color:rebeccapurple">@mascotaJson.Raza</h4>
    <h4 style="color:rebeccapurple">@mascotaJson.Edad</h4>

}

@if (@Context.Session.GetString("MASCOTAGEN") != null)
{

    <h2>@Context.Session.GetString("MASCOTAGEN")</h2>

}

<h1>SessionAcessorList</h1>@if(Model != null){
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                modeEdad
            </th>
            <th>
                Raza
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Edad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Raza)
                </td>
            </tr>
        }
    </tbody>
</table>
}